{% extends "photo_site_template.html" %}

<!-- start block content -->
{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Add tag to: {{ json_data["title"] }}</h1>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <img
      class="img-fluid"
      src="{{ json_data['original'] }}"
      alt="{{ json_data['title'] }}"
    />
  </div>
</div>

<hr />

<div class="row">
  <div class="col text-center">
    <div id="warning-text" class="alert alert-warning" role="alert">
      You can enter multiple tags, separating them by commas.
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <form
      method="POST"
      action="{{ url_for('photo_tag.add_tag', photo_id=json_data['photo_id']) }}"
    >
      <div class="form-group">
        <label for="renaming-tag">Add additional tags below.</label>
        <input autocomplete="off" id="tag-update" name="new_tag_name"
        type="text" class="form-control text-center" {% if
        json_data['human_readable_tags'][0] %} value="{{ json_data["human_readable_tags"]|join(", ")


        }}" {% else %} placeholder="Enter tags here..." {% endif %} />
      </div>
      <hr />
      <div class="row">
        <div class="col text-left">
          <a
            href="{{ url_for('photo.get_photo', photo_id=json_data['photo_id']) }}"
          >
            <button type="button" class="btn btn-success btn-block btn-lg">
              Go back to the photo
            </button>
          </a>
        </div>

        <div class="col text-right">
          <button
            id="update-tag-button"
            type="submit"
            class="btn btn-primary btn-block btn-lg"
          >
            Add tag
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />

{% endblock %}
