{% extends "template.html" %} {% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Edit tags</h1>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    {% for key, value in json_data.items() %}

    <!-- start len list check -->
    {% if value|length > 0 %}
    <hr />
    <div class="row">
      <div class="col">
        <h1>{{ key }}</h1>
      </div>
    </div>

    {% for x in value %}
    <!-- needs elements to be vertically centred -->
    <div class="edit-tags-card row">
      <div class="col my-auto">
        <a
          href="{{url_for('photo_tag.get_tag_photos', tag_name=x['tag_name'])}}"
        >
          <button type="button" class="btn btn-outline-success btn-lg">
            {{ x["human_readable_tag"] }}
          </button>
        </a>
      </div>

      <div class="col text-right my-auto">
        <h2>{{ x["photos"] }} Photos</h2>
      </div>

      <div class="col">
        <a href="{{ url_for('photo_tag.edit_tag', tag_name=x['tag_name']) }}">
          <button id="edit-buttons" class="btn btn-warning btn-block">
            Edit tag
          </button>
        </a>
        <a href="{{url_for('photo_tag.delete_tag', tag_name=x['tag_name'])}}">
          <button class="btn btn-danger btn-block">Delete tag</button>
        </a>
      </div>
    </div>

    <!-- end inner for loop -->
    {% endfor %}

    <!-- end list len check -->
    {% endif %} {% endfor %}
  </div>
</div>
<!-- end page content -->
{% endblock %}
