{% extends "photo_site_template.html" %}

<!-- start block content -->
{% block content %}
<div class="row text-center">
  <div class="col">
    <h1>
      Edit tag:
      <a
        href="{{url_for('photo_tag.get_tag_photos', tag_name=data['tag_name'])}}"
      >
        <button type="button" class="btn btn-outline-success btn-lg">
          {{ data["human_readable_name"] }}
        </button>
      </a>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form method="POST">
      <div class="row">
        <div class="col text-center">
          <div id="warning-text" class="alert alert-warning" role="alert">
            Do not enter multiple tags.
          </div>
        </div>
      </div>

      <!-- id="tag-update" -->
      <div class="form-group">
        <label for="renaming-tag">Make changes to the tag name below</label>
        <input
          name="new_tag_name"
          type="text"
          autocomplete="off"
          class="form-control text-center"
          value="{{ data['human_readable_name'] }}"
        />
      </div>

      <hr />

      <div class="row">
        <div class="col text-left">
          <a href="{{ url_for('photo_tag.edit_tags') }}">
            <button type="button" class="btn btn-success btn-block btn-lg">
              Back to edit tags
            </button>
          </a>
        </div>

        <div class="col text-right">
          <button
            id="update-tag-button"
            type="submit"
            class="btn btn-primary btn-block btn-block btn-lg"
          >
            Update tag
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
