.container {
    /* border: solid pink 2px; */
}

.col-3 {
    padding: 0%;
}

#photo-page-image {
    /* border: solid white 5px; */
    padding: 0.5em;
    min-width: 100%;
}


/* single photo page */

#photo-image {
    /* border: solid black 2px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo-container {
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 2px; */
    min-height: 800px;
}

.foo {
    border: solid red 10px;
    max-height: 640px;
}

.card {
    margin-bottom: 2em;
    /* min-width: 350px;
    min-height: 500px; */
}

/* #tag-title {
    text
} */