.container {
    /* border: solid pink 2px; */
}

.col-3 {
    padding: 0%;
}

#photo-page-image {
    /* border: solid white 5px; */
    padding: 0.5em;
    min-width: 100%;
}

#test {
    color: red;
    padding-top: 50px;
    margin-bottom: auto;
    border: solid black 2px;
}


img {
    max-height: 700px;
}


#photo-container {
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 2px; */

    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: baseline;

    max-height: 740px;
    min-height: 740px;
}

#albums-page-container {
    /* border: black solid 2px; */
    /* padding-left: 2rem; */

    /* margin-left: auto;
    margin-right: auto; */
}

.albums-card {
    padding-left: 2rem;
}

.nav-arrows {
    /* border: black solid 2px; */
}

/* .foo {
    border: solid red 10px;
    max-height: 640px;
} */

.card {
    margin-bottom: 2.2em;
    /* min-width: 350px;
    min-height: 500px; */
}

#photo-info {
    margin-top: 2em;
}


.table>tbody>tr>td {
    vertical-align: middle;
}


/* some margin to provide space between the buttons for the edit button in the view edit_tag.html */
#edit-buttons {
    margin-bottom: 1em;
}

/* edit albums */
#edit-albums-container {
    max-width: 50px;
    /* max-height: 4px; */
    /* border: solid black 2px; */

}


#album-text {
    text-shadow: -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;
}


/* on the edit albums views */
/* #edit-albums-container {
    border: solid black 5px;
    margin-left: auto;
    margin-right: auto;
} */



/* Selected album in Add photos to the album */
/* centeres the album in the page */
#selected-album,
#problem-div {
    padding: auto;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    padding-top: 2rem;
}

#photo-select:hover {
    background-color: darkgrey;
}

/* pushes the title down a little */
#photo-select-title {
    padding-top: 1em;
}


card:hover {
    background-color: darkgrey;
}

#selected-photo {
    background-color: green;
}


/* file upload */


#album-links {
    color: black;
}