{% extends "photo_site_template.html" %}

<!-- start block content -->
{% block content %} {% if session %} {% if json_data['show_session'] %}

<div class="row">
  <div class="col">
    <h1>You have uploaded photos waiting to be published</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <a href="{{ url_for('upload.uploaded_photos_page') }}">
      <button class="btn btn-primary btn-block btn-lg">
        Go to uploaded photos
      </button>
    </a>
  </div>
</div>

{% endif %} {% endif %}

<!-- <h1>{{ json_data }}</h1> -->
<div id="photos-page-container" class="row mx-auto">
  {% for key, value in json_data.photos.items() %}

  <div class="col-3 text-center">
    <a id="photostream-page" href="/photo/{{ value['photo_id'] }}">
      <img
        id="photo-page-image"
        class="img-fluid"
        src="{{ value['large_square'] }}"
        alt="Responsive image"
      />
    </a>
  </div>

  {% endfor %}
</div>

<div id="page-count" class="row">
  <div class="col text-center">
    <h3>Showing page {{ json_data["page"] }} of {{ json_data["pages"] }}</h3>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <a href="/?offset={{ json_data.offset - 20 }}">
      <button type="button" class="btn btn-secondary btn-block btn-lg">
        Newer
      </button>
    </a>
  </div>
  <div class="col">
    {% if json_data['page'] == json_data["pages"] %}
    <a href="/?offset={{ json_data.offset }}">
      <button type="button" class="btn btn-secondary btn-block btn-lg">
        Older
      </button>
    </a>
    {% else %}

    <a href="/?offset={{ json_data.offset + 20 }}">
      <button type="button" class="btn btn-secondary btn-block btn-lg">
        Older
      </button>
    </a>

    {% endif %}
  </div>
</div>

{% endblock %}
