{% extends "photo_site_template.html" %}

<!-- start block content -->
{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Remove photos from the album</h1>
    <!-- <h2>{{json_data}}</h2> -->
  </div>
</div>

<hr />

<div class="row text-center">
  <div id="selected-album" class="col">
    <a
      href="{{url_for('album.get_album_photos', album_id=json_data['album_data']['album_id'] )}}"
    >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ json_data["album_data"]["human_readable_title"] }}
          </h5>
          <img class="card-img-top img-fluid" src={% if
          json_data['album_data']['large_square'] %}
          {{ json_data["album_data"]["large_square"] }} {% else %}
          '/static/images/logo.jpg' {% endif %} alt="{{ json_data["title"] }}
          album">
          <p class="card-text">
            {{ json_data["album_data"]["human_readable_description"] }}
          </p>
          <div class="row">
            <div class="col">
              <p>views: {{ json_data["album_data"]["views"] }}</p>
            </div>
            <div class="col">
              <p>photos: {{ json_data["album_data"]["photos"] }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<hr />

{% if json_data['album_data']['photos'] > 0 %}

<!-- entry point for React components to select photos to add to the album -->
<div id="photos-selector"></div>

<hr />

<script
  type="text/babel"
  src="{{ url_for('static', filename='scripts/remove_album_photos.js') }}"
></script>

{% else %}

<div class="row text-center">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      There are no photos to remove.
    </div>
  </div>
</div>

<hr />

<div class="row text-center">
  <div class="col">
    <a href="{{ url_for('album.edit_albums') }}">
      <button type="button" class="btn btn-success btn-block btn-lg">
        Return to edit albums
      </button>
    </a>
  </div>
</div>

{% endif %} {% endblock %}
