{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Add photos to the album</h1>
        <!-- <h1>{{json_data['album_data']}}</h1> -->
    </div>
</div>

<hr>


<div class="row text-center">

    <div id="problem-div" class="col">
        <a href="/albums/{{json_data['album_data']['album_id']}}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{json_data['album_data']['title']}}</h5>
                    <img class="card-img-top" src="{{json_data['album_data']['large_square']}}" alt="{{ json_data['title'] }} album">
                    <p class="card-text">{{json_data['description']}}</p>
                    <div class="row">
                        <div class="col">
                            <p>
                                views: {{json_data['views']}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                photos: {{json_data['album_data']['photos']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


</div>
<hr>




<div id="like_button_container"></div>



<hr>

<div class="row">


    {% for key, value in json_data.photos.items() %}

    <div class="col-3 text-center">


        <div id="photo-select" class="card" style="width: 18rem;">

            <h5 id="photo-select-title" class="card-title my-auto">
                {{value['photo_title']}}
            </h5>


            <div class="card-body">
                <!-- <h3>{{key}}</h3> -->
                <a id="photostream-page" href="/api/photos/{{ value['photo_id'] }}">
                    <img id="photo-page-image" class="img-fluid" src="{{value['large_square']}}" alt="Responsive image">
                    <!-- <h2>{{value.photo_id}}</h2> -->
                </a>

                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="photo-checkbox" value="{{value['photo_id']}}">
                </div>

            </div>
        </div>



    </div>

    {% endfor %}

</div>


<hr>



<div class="row">
    <div class="col">
        <form method="POST">



            <div class="row ">
                <div class="col text-left">
                    <a href="{{url_for('edit_albums')}}">
                        <button class="btn btn-success btn-lg">Return to edit albums without making changes</button>
                    </a>
                </div>

                <div class="col text-right">
                    <button type="submit" class="btn btn-warning btn-lg">Add photos</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>


<script src="{{ url_for('static', filename='scripts/test.js') }}"></script>

<script type="text/babel" src="{{ url_for('static', filename='scripts/like_button.js') }}"></script>



{% endblock %}