{% extends "template.html" %}
{% block content %}

{% if json_data[0]['photos'] > 0 %}

<div class="row">
    <div class="col">
        <!-- <h1>
            {{json_data[0]}}
        </h1> -->
        <h1 class="text-center"></h1>

        <div id="album-text" class="card bg-dark text-white">
            <img class="card-img" src="{{json_data[0]['original']}}" alt="Card image">
            <div class="card-img-overlay">
                <h1 class="card-title text-center">{{json_data[0]['title']}}</h1>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    {% for key, value in json_data.items() %}
    <div class="col-3">
        <a id="photostream-page" href="/api/photos/{{value['photo_id']}}">
            <img id="photo-page-image" class="img-fluid" src="{{value['large_square']}}" alt="Responsive image">
            <!-- <h2>{{value.photo_id}}</h2> -->
        </a>
    </div>
    {% endfor %}
</div>

{% else %}

<div class="row text-center">
    <div class="col">
        <h1>The album {{json_data[0]['title']}}</h1>
    </div>
</div>
<hr>
<div class="row">

    <div class="col">
        <div class="alert alert-danger text-center" role="alert">
            This album has no photos.
        </div>
    </div>
</div>
<hr>
<div class="row text-center">
    <div id="selected-album" class="col">
        <a href="/albums/{{json_data[0]['album_id']}}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{json_data[0]['title']}}</h5>
                    <img class="card-img-top" src={% if json_data[0]['large_square'] %}
                        {{
                        json_data[0]['large_square']
                    }} {% else %}
                        '/static/images/logo.jpg' {% endif %} alt="{{ json_data['title'] }} album">
                    <p class="card-text">{{json_data[0]['description']}}</p>
                    <div class="row">
                        <div class="col">
                            <p>
                                views: {{json_data[0]['views']}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                photos: {{json_data[0]['photos']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>



<hr>
<div class="row text-center">

    <div class="col">
        <a href="{{url_for('add_album_photos', album_id=json_data[0]['album_id'])}}">
            <button class="btn btn-success btn-lg">Add photos</button>
        </a>
    </div>


    <div class="col">
        <a href="{{url_for('edit_album', album_id=json_data[0]['album_id'])}}">
            <button class="btn btn-warning btn-lg">Edit album</button>
        </a>
    </div>
</div>

{% endif %}

{% endblock %}