{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <div class="col">
        <h1>The photo

            <span class="font-italic">

                {{json_data['title']}}

            </span>
            has been deleted.</h1>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <a href="/api/photos/">
            <button class="btn btn-primary btn-lg">
                Go to photos
            </button>
        </a>
    </div>
</div>

{% endblock %}