{% extends "template.html" %} {% block content %}

<!-- {{json_data}} -->
<div class="row">
    <div class="col">
        <h1>Are you sure you want to delete the photo
            <span class="font-italic">

                {{json_data['title']}} ?

            </span>
        </h1>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="{{json_data['original']}}" alt="">
    </div>
</div>

<hr>
<div class="row">
    <div class="col">

        <div class="alert alert-danger text-center" role="alert">
            Deleting a photo cannot be undone.
        </div>

    </div>
</div>


<hr>
<div class="row">
    <div class="col">

        <a href="{{url_for('get_photos')}}">
            <button type="button" class="btn btn-success btn-lg">
                Return to photo without deleting
            </button>
        </a>


    </div>

    <form method="post">
        <div class="col">
            <a href="{{url_for('delete_photo', photo_id=json_data['photo_id'])}}">
                <button type="submit" type="button" class="btn btn-danger btn-lg">Delete the photo</button>
            </a>
        </div>
    </form>
</div>

<hr>



{% endblock %}