{% extends "template.html" %} {% block content %}

<div class="row text-center">
  <div class="col">
    <h1>
      The tag
      <button type="button" class="btn btn-outline-success btn-lg">
        {{ data["human_readable_name"] }}
      </button>
      has been removed.
    </h1>
  </div>
</div>

<hr />

<div class="row text-center">
  <div class="col">
    <a href="{{ url_for('photo_tag.edit_tags') }}">
      <button class="btn btn-primary btn-block btn-lg">
        Go back to edit tags
      </button>
    </a>
  </div>

  <div class="col">
    <a href="{{ url_for('photo_tag.get_photo_tag_data') }}">
      <button class="btn btn-primary btn-block  btn-lg">
        Go to photos
      </button>
    </a>
  </div>
</div>

{% endblock %}
