{% extends "template.html" %} {% block content %}

<div class="row text-center">

    <div class="col">

        <h1>Edit tags page</h1>
        <!-- <h1>{{json_data}}</h1> -->

    </div>
</div>


<div class="row">
    <div class="col text-center">

        <table class="table">
            <thead>
                <tr>
                    <th class="text-left" scope="col">Tag name</th>
                    <th scope="col">Photos with the tag</th>
                    <th scope="col">Edit tag</th>
                </tr>
            </thead>
            <tbody class="align-items-center">


                {% for key, value in json_data.items() %}

                <tr>
                    <td class="text-left">

                        <a href="/tags/{{value['tag_name']}}">
                            <button type="button" class="btn btn-outline-success btn-lg">
                                {{ value["human_readable_tag"] }}
                            </button>
                        </a>

                    </td>

                    <td>
                        <h2>{{value["photos"]}}</h2>
                    </td>
                    <td>
                        <a href="/edit/tag/{{ value["tag_name"] }}">

                            <button id="edit-buttons" class="btn btn-warning btn-block">Edit this tag</button>

                        </a>

                        <!-- <h2>{{value["tag_name"]}}</h2> -->

                        <a href="{{url_for('delete_tag', tag_name=value["tag_name"])}}">
                            <button class="btn btn-danger btn-block">Delete this tag</button>
                    </td>

                    </a>
                </tr>


                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}