{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Edit albums page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left" scope="col">Album name</th>
                    <th scope="col">Photos in album</th>
                    <th scope="col">Edit album</th>
                </tr>
            </thead>
            <tbody class="align-items-center">

                {% for key, value in json_data.items() %}

                <tr>
                    <td id="edit-albums-container" class="text-left">

                        <a href="/albums/{{value['album_id']}}">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{value['title']}}</h5>
                                    <img class="card-img-top" src={% if value['large_square'] %}
                                        {{
value['large_square']
}} {% else %} '/static/images/logo.jpg' {% endif %}
                                        alt="{{ value['title'] }} album">
                                    <p class="card-text">{{value['description']}}</p>
                                    <div class="row">
                                        <div class="col text-left">
                                            <p>
                                                views: {{value['views']}}
                                            </p>
                                        </div>
                                        <div class="col text-right">
                                            <p>
                                                photos: {{value['photos']}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </td>
                    <td>
                        <h2>
                            {{value['photos']}}
                        </h2>
                    </td>
                    <td>
                        <!-- table buttons -->
                        <a href="{{url_for('add_album_photos', album_id=value['album_id'])}}">
                            <button id="edit-buttons" class="btn btn-success btn-block">Add photos</button>
                        </a>

                        <a href="{{url_for('edit_album', album_id=value['album_id'])}}">
                            <button id="edit-buttons" class="btn btn-warning btn-block">Edit this album</button>
                        </a>

                        <a href="{{url_for('remove_album_photos', album_id=value['album_id'])}}">
                            <button id="edit-buttons" class="btn btn-warning btn-block">Remove photos</button>
                        </a>

                        <!-- "/delete/{{ value["album_id"] }}" -->
                        <a href="{{url_for('delete_album', album_id=value['album_id'])}}">
                            <button class="btn btn-danger btn-block">Delete this album</button>
                        </a>
                    </td>

                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}