{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Make changes to the album {{json_data['title']}} and its description</h1>
    </div>
</div>
<!-- <h1>{{json_data}}</h1> -->
<hr>
<!-- album link and information -->
<div class="row">
    <div id="problem-div" class="col">
        <a href="{{url_for('get_album_photos', album_id=json_data['album_id'])}}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{json_data['title']}}</h5>
                    <img class="card-img-top" src={% if json_data['large_square'] %} {{
json_data['large_square']
}} {%
                        else %} '/static/images/logo.jpg' {% endif %} alt="{{ json_data['title'] }} album">
                    <p class="card-text">{{json_data['description']}}</p>
                    <div class="row text-center">
                        <div class="col">
                            <p>
                                views: {{json_data['views']}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                photos: {{json_data['photos']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<hr>

<div class="row">

    <div class="col">

        <p>
            Current album title and description is shown below.

            When you are happy with the changes you have made press the save changes button.
        </p>

    </div>
</div>

<div class="row">
    <div class="col">
        <form method="POST">
            <div class="form-group">
                <label for="name">Album title</label>
                <input type="text" name="name" class="form-control" value="{{json_data['title']}}">
            </div>
            <div class="form-group">
                <label for="description">Album description</label>
                <textarea type="text" class="form-control" name="description">{{json_data['description']}}</textarea>
                <h3></h3>
            </div>

            <div class="row ">
                <div class="col text-left">
                    <a href="{{url_for('edit_albums')}}">
                        <button type="button" class="btn btn-success btn-block btn-lg">Return to edit albums</button>
                    </a>
                </div>

                <div class="col text-right">
                    <button type="submit" class="btn btn-warning btn-block btn-lg">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

{% endblock %}