{% extends "template.html" %} {% block content %}


<div class="row text-center">
    <div class="col">
        <h1>Edit tag:

            <button type="button" class="btn btn-outline-success btn-lg">

                {{tag_name}}

            </button></h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form method="post">
            <div class="form-group">
                <label for="renaming-tag">Make changes to the tag name below</label>
                <input name="new_tag_name" type="text" class="form-control" value="{{tag_name}}">
            </div>

            <div class="row">

                <div class="col">
                    <div class="alert alert-dark" role="alert">
                        Tags must be unique.
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">

                <div class="col text-left">
                    <a href="/edit/tags">
                        <button type="button" class="btn btn-success btn-lg">Go back to tags page</button>
                    </a>
                </div>

                <div class="col text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Update tag</button>
                </div>



            </div>

        </form>

    </div>
</div>

{% endblock %}