{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <!-- <h1>{{json_data}}</h1> -->
    <div class="col">
        <h1 class="text-center">{{ json_data["title"] }}
    </div>

    <div class="col">
        <a href="{{url_for('edit_photo', photo_id=json_data['photo_id'])}}">

            <button class="btn btn-warning btn-lg">Edit this title</button></h1>

        </a>
    </div>
    <div class="col">
        <a href="{{url_for('delete_photo', photo_id=json_data['photo_id'])}}">

            <button class="btn btn-danger btn-lg">Delete photo</button></h1>

        </a>
    </div>

</div>
<!-- displays the photo -->
<div id="photo-container" class="row align-items-center">

    <!-- Next -->
    <div class="col-1 text-center nav-arrows">
        <a href="http://127.0.0.1:5000/api/photos/{{ json_data['next'] }}"><i class="fas fa-angle-left fa-3x"></i></a>
    </div>

    <div class="col-10 text-center">
        <img id="photo" class="img-fluid" src="{{json_data['original']}}" alt="" />
    </div>

    <!-- Previous -->
    <div class="col-1 text-center nav-arrows">
        <a href="http://127.0.0.1:5000/api/photos/{{ json_data['previous'] }}"><i class="fas fa-angle-right fa-3x"></i></a>
    </div>
</div>

<div id="photo-info" class="row">
    <div class="col-5">
        <h2>Tags</h2>
        {% for tag in json_data['tags'] %}
        <!-- <h2>{{tag['human_readable_tag']}}</h2> -->
        <a href="/tags/{{tag['tag_name']}}">
            <button type="button" class="btn btn-outline-success btn-lg">
                {{tag['human_readable_tag']}}
            </button>
        </a>
        {% endfor %}

        <hr>
        <div class="row">

            <div class="col">

                <a href="{{ url_for( 'add_tag', photo_id = json_data['photo_id'] ) }}">
                    <button class="btn btn-warning btn-lg">
                        Add a tag
                    </button>
                </a>

            </div>

            <div class="col">

                <a href="{{ url_for( 'remove_tag', photo_id = json_data['photo_id'] ) }}">
                    <button class="btn btn-danger btn-lg">
                        Remove a tag
                    </button>
                </a>

            </div>
        </div>
    </div>

    <div class="col-2">
        <p>Views: {{ json_data["views"] }}</p>
    </div>

    <!-- Photo album -->
    <div class="col-5">
        {% for value in json_data['containing_album'] %}
        <div class="col-5">
            <a href="/albums/{{value['album_id']}}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ value["title"] }}</h5>
                        <img class="card-img-top" src="{{value['large_square']}}" alt="{{ value['title'] }} album" />
                        <div class="row">
                            <div class="col">
                                <p>views: {{ value["views"] }}</p>
                            </div>
                            <div class="col">
                                <p>photos: {{ value["photos"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}