{% extends "template.html" %}
{% block content %}

<h2 class="text-center">{{ json_data['title'] }}</h2>

<div id="photo-image-container text-center" class="col">
    <div class="row">
        <img id="photo-image" src="{{json_data['original']}}" alt="">
    </div>
</div>


{% for key in json_data.items() %}
{% endfor %}
<div class="row text-center">
    <div class="col">
        <a href="http://127.0.0.1:5000/api/photos/{{ json_data['next'] }}">Next</a>
    </div>

    <div class="col">
        <p>Views: {{ json_data['views'] }}</p>
    </div>
    <div class="col">
        <a href="http://127.0.0.1:5000/api/photos/{{ json_data['previous'] }}">Previous</a>
    </div>
</div>

{% endblock %}