{% extends "template.html" %}
{% block content %}

<div class="row">
    <!-- <h1>{{json_data}}</h1> -->
    <div class="col">

        <h1 class="text-center">
            {% if json_data[0] %}

            {{json_data['tag_info']['number_of_photos']}} photos for tag:
            <button class="btn btn-outline-success btn-lg">
                {{json_data['human_readable_tag']}}
            </button>

            {% else %}
            No photos found for the tag

            <button class="btn btn-outline-success btn-lg">
                {{json_data['human_readable_tag']}}
            </button>

            <!-- {{json_data}} -->
            {% endif %}

        </h1>

    </div>
</div>

{% if not json_data[0] %}
<hr>
<div class="row">
    <div class="col text-center">
        <a href="{{url_for('get_tags')}}">
            <button class="btn btn-primary btn-lg">
                Return to tags page
            </button>
        </a>
    </div>
</div>
{% endif %}


<div id="photos-page-container" class="row mx-auto">

    {% for key, value in json_data.items() %}

    {% if value['photo_id'] %}

    <div class="col-3 text-center">

        <!-- <h3>{{key}}</h3> -->
        <a id="photostream-page" href="/api/photos/{{ value['photo_id'] }}">
            <img id="photo-page-image" class="img-fluid" src="{{value['large_square']}}" alt="Responsive image">
            <!-- <h2>{{value.photo_id}}</h2> -->
        </a>

    </div>

    {% endif %}

    {% endfor %}

</div>

{% endblock %}