{% extends "template.html" %}
{% block content %}
<h1 class="text-center">
    Photos for tag:
    <span class="font-italic">
        {{json_data[0]['tag_name']}}
    </span>
</h1>

<div id="photos-page-container" class="row mx-auto">

    {% for key, value in json_data.items() %}

    <div class="col-3 text-center">

        <!-- <h3>{{key}}</h3> -->
        <a id="photostream-page" href="/api/photos/{{ value['photo_id'] }}">
            <img id="photo-page-image" class="img-fluid" src="{{value['large_square']}}" alt="Responsive image">
            <!-- <h2>{{value.photo_id}}</h2> -->
        </a>

    </div>

    {% endfor %}

</div>


{% endblock %}