{% extends "template.html" %}
{% block content %}

<div class="row">

    <div class="col">

        <h1 class="text-center">
            {{json_data['tag_info']['number_of_photos']}} photos for tag:
            <button class="btn btn-outline-success btn-lg">
                {{json_data[0]['tag_name']}}
            </button>



        </h1>


    </div>
</div>



<div id="photos-page-container" class="row mx-auto">

    {% for key, value in json_data.items() %}

    {% if value['photo_id'] %}

    <div class="col-3 text-center">

        <!-- <h3>{{key}}</h3> -->
        <a id="photostream-page" href="/api/photos/{{ value['photo_id'] }}">
            <img id="photo-page-image" class="img-fluid" src="{{value['large_square']}}" alt="Responsive image">
            <!-- <h2>{{value.photo_id}}</h2> -->
        </a>

    </div>

    {% endif %}

    {% endfor %}

</div>


{% endblock %}