<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <!-- popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">


    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

    <title>Photography-by-Eigi</title>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/">
        <img class="img-fluid" src="{{ url_for('static', filename='favicon.ico') }}" width="40" height="40" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarText">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active">
                <a class="nav-link" href="/">Photos<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('get_albums')}}">Albums</a>
            </li>

            {% if session %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('edit_albums')}}">Edit Albums</a>
            </li>
            {% endif %}

            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('get_tags')}}">Tags</a>
            </li>

            {% if session %}
            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('edit_tags')}}">Edit tags</a>
            </li>
            {% endif %}

            {% if session %}
            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('upload_file')}}">Upload</a>
            </li>
            {% endif %}

            {% if session %}
            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('account')}}">Account</a>
            </li>
            {% endif%}

            <!-- Login/logout -->
            {% if session %}
            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
            {% else %}

            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}


        </ul>
    </div>
</nav>

<body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <hr>
        <div class="row">

            <div class="col">
                <div id="flash-message" class="alert alert-warning text-center" role="alert">

                    {% for message in messages %}

                    <h2>
                        {{ message }}
                    </h2>

                    {% endfor %}

                </div>
            </div>

        </div>

        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>