{% extends "template.html" %}
{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Upload new photos</h1>
    </div>
</div>


<div id="upload-message" hidden>
    <hr>

    <div class="row text-center">

        <div class="col">

            <div class="alert alert-secondary" role="alert">
                Uploading photos, please leave this page open until you are redirected.
            </div>

        </div>
    </div>
</div>


<hr>

<div class="row text-center">
    <div class="col">

        <form method=post enctype=multipart/form-data> <p>Select files to upload</p>
            <input id="upload-info" type=file name="file" multiple>
            <input id="upload-button" type="submit" value="Upload">
        </form>

    </div>
</div>

{% endblock %}