{% extends "template.html" %} {% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Select an album to add the photos to</h1>
        <!-- <h2>{{json_data}}</h2> -->
    </div>
</div>

<hr>

<!-- entry point for React components to select photos to add to the album -->
<div id="album-selector"></div>

<hr>








<!-- Scripts for React -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script type="text/babel" src="{{ url_for('static', filename='scripts/album_selector.js') }}"></script>

{% endblock %}