{% extends "template.html" %}
{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Upload new photos</h1>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="col">

        <form method=post enctype=multipart/form-data> <p>Select files to upload</p>
            <input class="btn btn-lg" type=file name="file" multiple>
            <input class="btn btn-lg" type="submit" value="Upload">
        </form>

    </div>
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button type="submit" class="btn-outline-secondary" type="button" id="inputGroupFileAddon03">Upload photos</button>
    </div>
    <div class="custom-file">
        <input type=file name=file multiple class="btn custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
        <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
    </div>
</div>





{% endblock %}